<ion-content class="centered_page">
  
  <ion-card>
    <ion-card-header>
      <strong>Where to go</strong>
    </ion-card-header>
    <ion-item>
      <img src="assets/img/venue/conference-map.png" (tap)="openAllLocationsMap()">
    </ion-item>
    <ion-item>
      <button ion-button icon-left clear item-end (tap)="openAllLocationsMap()">
        <ion-icon name="pin" role="img" class="ion-md-pin" aria-label="pin"></ion-icon> Open all location's map
      </button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <strong>Talks Day (Monday-Tuesday):</strong>
    </ion-card-header>
    <ion-card-content>
      <div>Centre Comercial Gran Via 2</div>
      <div>Avinguda de la Granvia, 75</div>
      <div>08908 L'Hospitalet de Llobregat, Barcelona</div>
      <br/>
      <div><strong>Parking</strong></div>
      <div>If you are coming with your own car, you can use the Shopping Center Parking with a special deal for the conference
        : 10 EUR for all day. You only need to take a ticket as usual when you enter the parking and before leaving you have
        to go to the Central Office in the Parking and they will give you a new ticket after paying 10 € that you will use
        to leave.</div>
    </ion-card-content>
    <ion-item>
      <button ion-button icon-left clear item-end (tap)="openLocation('Centre Comercial Gran Via 2, Avinguda de la Granvia, 75 08908 Hospitalet de Llobregat, Barcelona')">
        <ion-icon name="pin" role="img" class="ion-md-pin" aria-label="pin"></ion-icon>
        Open location's map
      </button>
      <img src="assets/img/venue/granvia2.jpg" (tap)="openLocation('Centre Comercial Gran Via 2, Avinguda de la Granvia, 75 08908 Hospitalet de Llobregat, Barcelona')">
      <img src="assets/img/venue/granvia2_cine.jpg" (tap)="openLocation('Centre Comercial Gran Via 2, Avinguda de la Granvia, 75 08908 Hospitalet de Llobregat, Barcelona')">
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <strong>Workshops Day (Wednesday):</strong>
    </ion-card-header>
    <ion-card-content>
      <div>Hotel Fira Congress Barcelona</div>
      <div>C/ José Agustín Goytisolo, 9-11</div>
      <div>08908 Hospitalet de Llobregat, Barcelona</div>
    </ion-card-content>
    <ion-item>
      <button ion-button icon-left clear item-end (tap)="openLocation('Hotel Fira Congress Barcelona, C/ José Agustín Goytisolo 9-11, 08908 Hospitalet de Llobregat, Barcelona')">
        <ion-icon name="pin" role="img" class="ion-md-pin" aria-label="pin"></ion-icon>
        Open location's map
      </button>
      <img src="assets/img/venue/hotel.jpg" (tap)="openLocation('Hotel Fira Congress Barcelona, C/ José Agustín Goytisolo 9-11, 08908 Hospitalet de Llobregat, Barcelona')">
    </ion-item>
  </ion-card>
</ion-content>