<ion-content padding class="meeting-detail">


    <button ion-button full (tap)="goBack()">Back</button>
    <h1>{{meeting.title}}</h1>
    <p>
        <ion-badge item-right *ngFor="let tag of meeting.tags">{{tag}}</ion-badge>
    </p>
    <p>{{meeting.timeStart | date:'HH:mm'}} &mdash; {{meeting.timeEnd | date:'HH:mm'}} - Room {{meeting.id.substring(6,7)}}</p>
    <h4 (tap)="goToSpeakerDetail(speaker)" *ngFor="let speaker of speakers">
        <ion-avatar class="meeting-detail-avatar">
            <img [src]="speaker.image">
        </ion-avatar>
        {{speaker.name}}
    </h4>
    

    <p text-center>
        <span *ngIf="vote">{{vote}}</span>
        <span *ngIf="!vote">-</span>
        <ion-icon name="heart"></ion-icon>
    </p>



    <p [innerHtml]="meeting.abstract"></p>

    <!-- Comments & votes -->
    
    <button ion-button full (tap)="openCommentMeetingPage()">Add your comment</button>
    

    <!-- comments -->
    <span  *ngFor="let comment of comments">
    <ion-card *ngIf="comment.name || comment.text">
        <ion-card-header>
            <b>{{comment.name}}</b> <span class="meeting-detail-comment-vote"><ion-icon [name]="getIcon(n,comment.vote)" *ngFor="let n of [1,2,3,4,5]" class="meeting-comment-vote"></ion-icon></span>
        </ion-card-header>
        <ion-card-content *ngIf="comment.text">
            <div padding>{{comment.text}}</div>
        </ion-card-content>
    </ion-card>
    </span>
    
    <button ion-button full (tap)="goBack()">Back</button>
</ion-content>