.meeting-vote {
    font-size:2em;
}

ion-content.meeting-detail {
   /* margin-bottom: 5.6rem; */
}

ion-avatar.meeting-detail-avatar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.meeting-detail h4 {
    text-align: center;
}

.meeting-detail-comment-vote {
    float:right;
}