<ion-navbar *navbar>
    <ion-title>
        Speakers
    </ion-title>
</ion-navbar>

<ion-content class="page2">
    <ion-list>
            <ion-item *ngFor="#speaker of speakers" (click)="goToSpeakerDetail(speaker)">
                <img [src]="speaker.image" item-left>
                {{speaker.name}}
                <div>{{speaker.description}}</div>
                <button (click)="goToSpeakerTwitter(speaker,$event)">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            </ion-item>
    </ion-list>
    
    <ion-card *ngFor="#speaker of speakers" class="speaker">
        <ion-card-header>
            <ion-item (click)="goToSpeakerDetail(speaker)">
                <ion-avatar item-left>
                    <img [src]="speaker.image">
                </ion-avatar>
                {{speaker.name}}
                <p>{{speaker.description}}</p>
            </ion-item>
        </ion-card-header>
    </ion-card>

</ion-content>