<ion-content class="page3">
    <h2>Our sponsors</h2>
    <ion-item-divider class="diamond-sponsor-title">Diamond</ion-item-divider>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img [src]="sponsors.diamond.image.src" [alt]="sponsors.diamond.image.alt" (tap)="openSponsor(sponsors.diamond.href)" class="diamond-sponsor" />
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-item-divider class="gold-sponsor-title">Gold</ion-item-divider>
    <ion-grid>
        <ion-row *ngFor="let row of getGoldSponsors()">
            <ion-col *ngFor="let sponsor of row" class="sponsor-image">
                <img [src]="sponsor.image.src" [alt]="sponsor.image.alt" (tap)="openSponsor(sponsor.href)" class="gold-sponsor" />
            </ion-col>
        </ion-row>
        
    </ion-grid>

    <ion-item-divider class="silver-sponsor-title">Silver</ion-item-divider>

    <ion-grid>
        <ion-row *ngFor="let row of getSilverSponsors()">
            <ion-col *ngFor="let sponsor of row" class="sponsor-image">
                <img [src]="sponsor.image.src" [alt]="sponsor.image.alt" (tap)="openSponsor(sponsor.href)" class="silver-sponsor" />
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item-divider class="bronze-sponsor-title" *ngIf="sponsors.bronze.length>0">Bronze</ion-item-divider>

    <ion-grid  *ngIf="sponsors.bronze.length>0">
        <ion-row *ngFor="let row of getBronzeSponsors()">
            <ion-col *ngFor="let sponsor of row" class="sponsor-image">
                <img *ngIf="sponsor.name" [src]="sponsor.image.src" [alt]="sponsor.image.alt" (tap)="openSponsor(sponsor.href)" class="bronze-sponsor" />
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item-divider class="supporters-sponsor-title"  *ngIf="sponsors.supporters.length>0">Supporters</ion-item-divider>
    <ion-grid *ngIf="sponsors.supporters.length>0">
        <ion-row *ngFor="let row of getSupporters()">
            <ion-col *ngFor="let supporter of row" width-30 class="sponsor-image">
                <img *ngIf="supporter.name" [src]="supporter.image.src" [alt]="supporter.image.alt" (tap)="opensupporter(supporter.href)" class="bronze-supporter" />
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>