<ion-content class="page3">
    <h2>Our sponsors</h2>
    <ion-item-divider class="gold-sponsor-title">Gold</ion-item-divider>
    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="assets/img/sponsors/redhat.png" class="gold-sponsor" (click)="openSponsor('http://www.redhat.com/',$event)" />
            </ion-col>
            <ion-col>
                <img src="assets/img/sponsors/netcentric.png" class="gold-sponsor" (click)="openSponsor('http://www.netcentric.biz/', $event)"
                />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <img src="assets/img/sponsors/altran.png" class="gold-sponsor" (click)="openSponsor('http://www.altran.es/', $event)" />
            </ion-col>
            <ion-col>
                <img src="assets/img/sponsors/ocadotechnology.png" class="gold-sponsor" (click)="openSponsor('http://www.ocadotechnology.com/', $event)"
                />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <img src="assets/img/sponsors/eDreamsODIGEO.png" class="gold-sponsor" (click)="openSponsor('http://www.edreamsodigeo.com/', $event)"
                />
            </ion-col>
            <ion-col>
                <img src="assets/img/sponsors/zalando.png" class="gold-sponsor" (click)="openSponsor('https://tech.zalando.de/', $event)"
                />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <img src="assets/img/sponsors/adaptive.png" class="gold-sponsor" (click)="openSponsor('http://weareadaptive.com/', $event)"
                />
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
    </ion-grid>

    <ion-item-divider class="silver-sponsor-title">Silver</ion-item-divider>

    <ion-grid>
        <ion-row>
            <ion-col>
                <img src="assets/img/sponsors/everis.png" class="silver-sponsor" (click)="openSponsor('http://www.everis.com/', $event)"
                />
            </ion-col>
            <ion-col>
                <img src="assets/img/sponsors/schibsted.png" class="silver-sponsor" (click)="openSponsor('http://www.schibsted.es/', $event)"
                />
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-item-divider class="bronze-sponsor-title">Bronze</ion-item-divider>

    <ion-grid>
        <ion-row>
            <ion-col width-30>
                <img src="assets/img/sponsors/cloudbees.png" class="bronze-sponsor" (click)="openSponsor('http://www.cloudbees.com/', $event)"
                />
            </ion-col>
            <ion-col width-30>
                <img src="assets/img/sponsors/netsuite.png" class="bronze-sponsor" (click)="openSponsor('http://www.netsuite.com/', $event)"
                />
            </ion-col>
            <ion-col width-30>
                <img src="assets/img/sponsors/opentrends.png" class="bronze-sponsor" (click)="openSponsor('http://www.opentrends.net/', $event)"
                />
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col width-30></ion-col>
            <ion-col width-30><img src="assets/img/sponsors/jetbrains.png" class="bronze-sponsor" (click)="openSponsor('http://www.jetbrains.com', $event)"
                /></ion-col>
            <ion-col width-30></ion-col>
        </ion-row>
    </ion-grid>

    <ion-item-divider class="startups-sponsor-title">Startups</ion-item-divider>
    <ion-grid>
        <ion-row>
            <ion-col width-30></ion-col>
            <ion-col width-30><img src="assets/img/sponsors/noysi.png" class="bronze-sponsor" (click)="openSponsor('http://www.noysi.com/', $event)"
                /></ion-col>
            <ion-col width-30></ion-col>
        </ion-row>
    </ion-grid>



    <ion-item-divider class="supporters-sponsor-title">Supporters</ion-item-divider>
    <ion-grid>
        <ion-row>
            <ion-col width-30>
                <img src="assets/img/sponsors/codetown.png" class="bronze-sponsor" (click)="openSponsor('http://www.codetown.com/', $event)"
                />
            </ion-col>
            <ion-col width-30>
                <img src="assets/img/sponsors/SevillaJUG.png" class="bronze-sponsor" (click)="openSponsor('http://www.meetup.com/SVQJUG/', $event)"
                />
            </ion-col>
            <ion-col width-30>
                <img src="assets/img/sponsors/madridJUG.png" class="bronze-sponsor" (click)="openSponsor('http://www.meetup.com/MadridJUG/', $event)"
                />
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>