.sponsor-image {
    margin-top: auto;
    margin-bottom: auto;
}

ion-item-divider.diamond-sponsor-title.item.item-divider.item-md.item-divider-md {
    background-color: rgba(159, 206, 234, 0.28);
    color: #105152;
    font-weight: bold;
}

ion-item-divider.gold-sponsor-title.item.item-divider.item-md.item-divider-md {
    background-color: rgb(218, 207, 60);
    color: #505a02;
    font-weight: bold;
}

ion-item-divider.silver-sponsor-title.item.item-divider.item-md.item-divider-md {
    background-color: silver;
    color: #060606;
    font-weight: bold;
}