<ion-content padding class="speaker-detail">
    <button ion-button full (tap)="goBack()">Back</button>
    <h2>{{speaker.name}}</h2>
    <div text-center>
        <img [src]="speaker.image" [alt]="speaker.name"><br>
        
        <button ion-button clear (tap)="goToSpeakerTwitter()" *ngIf="speaker.twitter"><ion-icon name="logo-twitter"></ion-icon> {{"@"+speaker.twitter.substr(speaker.twitter.lastIndexOf('/') + 1)}}</button>
    </div>
    <p><strong>{{speaker.description}}</strong></p>
    <p [innerHTML]="speaker.biography"></p>
    <p>Talk:</p>
    <p><a (tap)="goToMeetingDetail(talk)">{{talk.title}}</a></p>
    <button ion-button full (tap)="goBack()">Back</button>
</ion-content>