.schedule-star {
    font-size: 30px;
}

.track p {
    color:#fff;
    font-weight: bold;
}

.track-0 {
    color: #AA3939;
}

.track-1 {
    color: #852C64;
}

.track-2 {
    color: #552B72;
}

.track-3 {
    color: #413075;
}

.track-4 {
    color: #2F4172;
}


.session-1 {
    background-color: #2C4870;
}

.session-2 {
    background-color: #226666;
}

.session-3 {
    background-color: #2D8632;
}

.session-4 {
    background-color: #739D34;
}

.session-5 {
    background-color: #9CA738;
}

.session-6 {
    background-color: #AA7139;
}

.session-7 {
    background-color: #AA3C39;
}

.schedule-filter-button {
    /* float: right; */
    /* margin-right: 13px; */
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    right: 10px;
}

.schedule-filter-selection {
     background-color:#006D98;
}

.segment-button.activated, .segment-button.segment-activated {
    border-color: #fff;
    color: #fff;
}
    
ion-item.button-holder.item {
    border-bottom: 0px;
}

ion-list + ion-list {
       margin-top: 0px;
}

.meeting-vote {
    font-size:2em;
}

ion-item.button-holder.item {
    height: 0px;
}

.button-holder {
    position: relative;
    height: 3em;
}