<ion-navbar *navbar>
    <ion-title>Schedule</ion-title>
</ion-navbar>

<ion-content class="schedule">
    <div padding>
        <ion-segment [(ngModel)]="tracks" (change)="applyFilters()">
            <ion-segment-button value="all">All</ion-segment-button>
            <ion-segment-button value="mytracks">My tracks</ion-segment-button>
            <ion-segment-button value="filter">Filter tracks</ion-segment-button>
        </ion-segment>
    </div>
    <ion-list *ngIf="tracks=='filter'">
        <ion-item>
            <ion-label>Day</ion-label>
            <ion-select [(ngModel)]="search.day"  (change)="applyFilters()">
                <ion-option value="">None</ion-option>
                <ion-option value="2016-06-16">16/06/2016</ion-option>
                <ion-option value="2016-06-17">17/06/2016</ion-option>
                <ion-option value="2016-06-18">18/06/2016</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label >Track</ion-label>
            <ion-select [(ngModel)]="search.track" (change)="applyFilters()">
            <ion-option value="-1">None</ion-option>
            <ion-option value="0">Global track</ion-option>
            <ion-option value="1">Track 1</ion-option>
            <ion-option value="2">Track 2</ion-option>
            <ion-option value="3">Track 3</ion-option>
            <ion-option value="4">Track 4</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
               <ion-label>Tags</ion-label>
               <ion-select [(ngModel)]="search.tag"  (change)="applyFilters()">
                   <ion-option value="">None</ion-option>
                   <ion-option *ngFor="#tag of tags" value="{{tag}}">{{tag}}</ion-option>
                </ion-select>
                {{tags}}
        
        </ion-item>
        <button class="schedule-filter-button" (click)="clearFilters()">Clear filter</button>
    </ion-list>
    <ion-list>
        <ion-item-group *ngFor="#day of schedule">

            <ion-item-divider>
                {{day.date | date:"dd/MM/yyyy"}}
            </ion-item-divider>
            <ion-row *ngFor="#meeting of day.meetings">
                <ion-col class="track track-{{meeting.track}}" (click)="goToMeetingDetail(meeting)" width-20 *ngIf="meeting.visible == true">
                    <p>{{meeting.timeStart | date:'HH:mm'}}</p>
                    <p>{{meeting.timeEnd | date:'HH:mm'}}</p>
                </ion-col>
                <ion-col width-70 (click)="goToMeetingDetail(meeting)" wrap *ngIf="meeting.visible == true">
                    <strong>{{meeting.title}}</strong>
                    <p>{{meeting.location}} - Track {{meeting.track}}</p>
                    <p>
                        <ion-badge item-right *ngFor="#tag of meeting.tags" (click)="filterByTag($event,tag)">{{tag}}</ion-badge>
                    </p>
                </ion-col>
                <ion-col width-10 *ngIf="meeting.visible == true">
                    <ion-icon [name]="favoriteIcon(meeting)" class="schedule-star" (click)="switchFavorite(meeting, $event)"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-item-group>

    </ion-list>
</ion-content>